/*
File: Menu
*/
.topbar {
  left: 0px;
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 999;
}
.topbar .topbar-left {
  background: #ffffff;
  float: left;
  text-align: center;
  height: 75px;
  position: relative;
  /*width: 250px;*/  
  z-index: 1;
}
.topbar .topbar-left .logo {
  line-height: 70px;
}
.navbar-default {
  background-color: #fff;
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  padding: 0px 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}
.navbar-default .navbar-left {
  padding-left: 10px;
}
.navbar-default .navbar-left li {
  padding: 0px 6px;
}
.navbar-default .button-menu-mobile {
  display: none;
}
.logo {
  color: #188ae2 !important;
  font-size: 32px;
  font-family: 'Rancho', cursive;
}
.logo i {
  display: none;
}
.logo span span {
  color: #10c469;
}
.user-box {
  text-align: center;
  padding: 30px 0px 20px 0px;
  border-bottom: 1px solid #ddd;
}
.user-box .user-img {
  position: relative;
  height: 88px;
  width: 88px;
  margin: 0px auto;
}
.user-box h5 a {
  color: #98a6ad;
}
.user-box .user-status {
  height: 12px;
  width: 12px;
  position: absolute;
  bottom: 7px;
  right: 15px;
}
.user-box .user-status i {
  font-size: 15px;
}
.user-box .user-status.away i {
  color: #f9c851;
}
.user-box .user-status.offline i {
  color: #ff5b5b;
}
.user-box .user-status.online i {
  color: #10c469;
}
.user-box .user-status.busy i {
  color: #98a6ad;
}
.user-box ul li a {
  color: #98a6ad;
}
.user-box ul li a:hover {
  color: #71b6f9;
}
.notification-box ul {
  max-height: 60px;
}
.notification-box ul li a {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  line-height: 70px;
}
.notification-box .noti-dot {
  position: relative;
  top: -45px;
}
.notification-box .pulse {
  width: 2px;
  height: 2px;
  border: 3px solid #ff5b5b;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #ff5b5b;
  z-index: 10;
  position: absolute;
  right: 3px;
}
.notification-box .dot {
  border: 4px solid #ff5b5b;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 30px;
  width: 30px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -12px;
  left: -4px;
  z-index: 1;
  opacity: 0;
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}
.side-menu {
  top: 80px;
  width: 250px;
  z-index: 10;
  background: #ffffff;
  bottom: 50px;
  height: 100%;
  margin-bottom: -70px;
  margin-top: 0px;
  padding-bottom: 70px;
  position: fixed;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}
.side-menu .waves-effect .waves-ripple {
  background-color: rgba(113, 182, 249, 0.4);
}
.content-page {
  margin-left: 250px;
  /*overflow: hidden;*/
}
.content-page .content {
  padding: 0px 3px;
  margin-top: 88px;
}
.button-menu-mobile {
  background: transparent;
  border: none;
  color: #435966;
  font-size: 21px;
  line-height: 68px;
}
.button-menu-mobile:hover {
  color: #71b6f9;
}
.sidebar-inner {
  height: 100%;
}
#sidebar-menu,
#sidebar-menu ul,
#sidebar-menu li,
#sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  font-size: 15px;
}
.side-menu #sidebar-menu>ul>li>a.waves-effect span{
  text-transform: uppercase;
}
#sidebar-menu {
  padding-bottom: 30px;
  width: 100%;
}
#sidebar-menu a {
  line-height: 1.3;
}
#sidebar-menu ul li .menu-arrow {
  -webkit-transition: -webkit-transform 0.15s;
  -o-transition: -o-transform 0.15s;
  transition: transform .15s;
  position: absolute;
  right: 20px;
  display: inline-block;
  font-family: 'Material-Design-Iconic-Font';
  text-rendering: auto;
  line-height: 18px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#sidebar-menu ul li .menu-arrow:before {
  content: '\f2fb';
}
#sidebar-menu ul li a.subdrop .menu-arrow {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#sidebar-menu ul ul {
  display: none;
}
#sidebar-menu ul ul li {
  border-top: 0;
}
#sidebar-menu ul ul li.active a {
  color: #71b6f9;
}
#sidebar-menu ul ul a {
  color: #63747c;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-left: 3px solid transparent;
  display: block;
  padding: 10px 27px 10px 51px;
}
#sidebar-menu ul ul a:hover {
  color: #71b6f9;
}
#sidebar-menu ul ul a i {
  margin-right: 5px;
}
#sidebar-menu ul ul ul a {
  padding-left: 80px;
}
#sidebar-menu .label {
  margin-top: 2px;
}
#sidebar-menu .subdrop {
  border-left: 3px solid #71b6f9;
  color: #71b6f9 !important;
}
#sidebar-menu > ul > li > a {
  color: #435966;
  display: block;
  padding: 12px 20px;
  margin: 4px 0px;
  border-left: 3px solid transparent;
}
#sidebar-menu > ul > li > a:hover {
  color: #71b6f9;
  text-decoration: none;
}
#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}
#sidebar-menu ul li a i {
  display: inline-block;
  font-size: 16px;
  line-height: 17px;
  margin-left: 3px;
  margin-right: 15px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}
#sidebar-menu ul li a i.md {
  font-size: 18px;
}
#sidebar-menu ul li a .drop-arrow {
  float: right;
}
#sidebar-menu ul li a .drop-arrow i {
  margin-right: 0px;
}
#sidebar-menu > ul > li > a.active {
  border-left: 3px solid #71b6f9;
  color: #71b6f9 !important;
}
.menu-title {
  padding: 12px 20px !important;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
}
#wrapper.enlarged .menu-title,
#wrapper.enlarged .menu-arrow {
  display: none !important;
}
#wrapper.enlarged .user-box .user-img {
  height: 48px;
  width: 48px;
}
#wrapper.enlarged .user-box h5 {
  display: none;
}
#wrapper.enlarged #sidebar-menu ul ul {
  border: 2px solid #f4f8fb;
  margin-top: -5px;
  padding-top: 5px;
  z-index: 9999;
  background-color: #ffffff;
}
#wrapper.enlarged .left.side-menu {
  width: 250px;
  z-index: 5;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a {
  padding: 5px 0;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:hover {
  background: #f4f8fb !important;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:active {
  background: #f4f8fb !important;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:focus {
  background: #f4f8fb !important;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a i {
  margin-right: 20px !important;
  font-size: 20px;
}
#wrapper.enlarged .left.side-menu .label {
  position: absolute;
  top: 5px;
  left: 35px;
  text-indent: 0;
  display: block !important;
  padding: .2em .6em .3em !important;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li {
  position: relative;
  white-space: nowrap;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
  position: relative;
  /*width: 260px;*/
  background: #f4f8fb;
  color: #71b6f9;
  /*border-color: #71b6f9;*/
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul {
  display: block;
  left: 51px;
  position: relative;
  width: 199px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a {
  background: #ffffff;
  box-shadow: none;
  padding-left: 15px;
  position: relative;
  width: 100%;
  z-index: 6;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a:hover {
  color: #71b6f9;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover a span {
  display: inline;
}
#wrapper.enlarged .left.side-menu #sidebar-menu li .show-menu + ul {
  display: block;
  left: 70px;
  position: absolute;
  width: 190px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu li .show-menu + ul a {
  background: #ffffff;
  box-shadow: none;
  padding-left: 15px;
  position: relative;
  width: 186px;
  z-index: 6;
}
#wrapper.enlarged .left.side-menu #sidebar-menu li .show-menu + ul a:hover {
  color: #71b6f9;
}
#wrapper.enlarged .left.side-menu #sidebar-menu a.subdrop {
  color: #71b6f9 !important;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > ul {
  display: none;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li:hover > ul {
  display: block;
  left: 190px;
  margin-top: -36px;
  position: absolute;
  width: 190px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li > a span.pull-right {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  position: absolute;
  right: 20px;
  top: 12px;
  transform: rotate(270deg);
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li.active a {
  color: #71b6f9;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > a span {
/*  display: none;*/
  padding-left: 10px;
}
#wrapper.enlarged .left.side-menu .user-details {
  display: none;
}
#wrapper.enlarged .content-page {
  margin-left: 70px;
}
#wrapper.enlarged .footer {
  left: 70px;
}
#wrapper.enlarged .topbar .topbar-left {
 /* width: auto !important;*/
}
#wrapper.enlarged .topbar .topbar-left .logo span {
  display: none;
  opacity: 0;
}
#wrapper.enlarged .topbar .topbar-left .logo i {
  display: block;
  line-height: 70px;
  color: #435966 !important;
}
#wrapper.enlarged #sidebar-menu > ul > li:hover > a.open :after {
  display: none;
}
#wrapper.enlarged #sidebar-menu > ul > li:hover > a.active :after {
  display: none;
}
#wrapper.right-bar-enabled .right-bar {
  right: 0;
}
#wrapper.right-bar-enabled .left-layout {
  left: 0;
}
/* Right sidebar */
.side-bar.right-bar {
  float: right !important;
  right: -100%;
  top: 0px;
}
.side-bar {
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  background-color: #ffffff;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  display: block;
  float: left;
  height: 100%;
  position: fixed;
  transition: all 200ms ease-out;
}
.right-bar {
  background: #ffffff !important;
  z-index: 999 !important;
}
.right-bar h4 {
  border-bottom: 1px solid rgba(152, 166, 173, 0.5);
  padding: 4px 10px 10px 18px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #435966;
  letter-spacing: 0.03em;
}
.right-bar .right-bar-toggle {
  float: right;
  line-height: 46px;
  font-size: 20px;
  color: #333;
  padding: 0px 10px;
}
.notification-list {
  padding-bottom: 60px;
  height: 100%;
}
.notification-list .list-group-item {
  border-bottom: 1px solid rgba(152, 166, 173, 0.2) !important;
  margin-bottom: 0px;
}
.notification-list .list-group-item.active {
  background-color: rgba(152, 166, 173, 0.1) !important;
}
.user-list .user-list-item .avatar {
  float: left;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.user-list .user-list-item .avatar img {
  border-radius: 50%;
  width: 100%;
}
.user-list .user-list-item .icon {
  float: left;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
}
.user-list .user-list-item .icon i {
  color: #ffffff;
  line-height: 30px;
  font-size: 16px;
}
.user-list .user-list-item .user-desc {
  /*margin-left: 40px;*/
}
.user-list .user-list-item .user-desc span.name {
  color: #435966;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden;
}
.user-list .user-list-item .user-desc span.desc {
  color: #98a6ad;
  font-size: 12px;
}
.user-list .user-list-item .user-desc span.time {
  font-size: 11px;
  color: #71b6f9;
  font-weight: bold;
}
/* Search */
.app-search {
  position: relative;
}
.app-search a {
  position: absolute;
  top: 7px;
  right: 20px;
  color: rgba(152, 166, 173, 0.7);
}
.app-search a:hover {
  color: #98a6ad;
}
.app-search .form-control,
.app-search .form-control:focus {
  border: 1px solid rgba(152, 166, 173, 0.5);
  font-size: 13px;
  height: 34px;
  color: #cccccc;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 40px;
  margin-top: 18px;
  margin-left: 20px;
  background: rgba(152, 166, 173, 0.3);
  box-shadow: none;
  border-radius: 30px;
  width: 190px;
}
input.app-search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
}
input.app-search-input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input.app-search-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input.app-search-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}


/*css by Deepti*/
.logo-img{width: 115px;padding: 20px;}
.user-title{text-transform: uppercase;margin-bottom: 0;}
.user-type{margin:0;color: #009bd5;;}

/* css by vaibhav*/
.abm_table_progressbar { height: 13px; margin-bottom: 0px;}
.abm-dashboard-table { padding-top:6px; }
.abm-dashboard-table table thead tr th { width:16.667%; }
.abm-dashboard-table table  { min-width: 974px; }
.abm-dashboard-table table thead tr th:nth-child(n+3) { text-align: center; }
.abm-dashboard-table table tbody tr td { padding: 15px 8px; vertical-align: middle;}
.abm_table_progressbar .progress-bar { background-color: rgba(235, 239, 242, 0.2); border-right: 1px solid #fff;}
.abm_table_progressbar .progress-bar:last-child { border-right: 0px; }
.abm_table_progressbar .progress-bar-success-alt { background-color: #10C469;}
.plan_activity_button { float:right; margin-right:3%; }
.ams-dashboard-calender .fc-toolbar .fc-left, .ams-dashboard-calender .fc-toolbar .fc-right { display:none; }
.ams-dashboard-calender .fc-bg table tbody tr td { padding-bottom: 8px; }
.user-title1 { font-size: 13px; text-transform:none; margin: 0px 0px 4px; }
#pie-chart-container{display: inline-block!important;margin-top: 20px;width: 100%!important;}
.dashboard_navbar { background-color: #fff; } 
.no_pad { padding: 0px; } 
/*table.dataTable thead th::after { content:normal !important; } */
.add_senior_manager_button { float:right; }
.senior_manager_table tbody tr td { vertical-align: middle;}
.senior_manager_table tbody tr td .btn {  padding:1px 13px; width:67px; margin-bottom:0px !important;}
.senior_manager_table tbody tr td .btn.btn-primary { margin-right: 4px; }
.senior_manager_table tbody tr td:nth-child(2), .senior_manager_table1 tbody tr td:nth-child(3) { text-align: left; } 
div.dataTables_length select { width: 75px !important; margin-right: 7px; margin-left:2px;}
/*.btn { padding: 3px 10px; }*/
.header-title { color: #000; /*margin-bottom:20px!important;*/ /*border-bottom: 1px solid #f7f7f7;*/font-size: 18px;line-height: 14px;/*padding-bottom: 18px;*/text-transform: capitalize;}
.dataTables_wrapper { clear: both; }
.card-box-wrap { padding:0px 7px; }
.card-box { margin-bottom:14px; }
.amountSpend1 { position: relative; text-align: center;}
.amountSpend1 .amountSpend-amnt {  font-size: 4em;} 
.amountSpend1 .amountSpend-rupee { margin-top: -17px;}
.ams-dashboard-calender .fc-basic-view td.fc-day-number { padding-right: 13px; }
.ams-dashboard-calender .mCSB_container { margin-right: 0px; }
.nicescroll-rails { height: 5px; opacity: 0.4 !important; }
.nicescroll-rails div { background-color: rgb(102, 102, 102) !important;  }
.text_uppercase { text-transform:uppercase;}
/*5/1/2016*/
.bcc_status thead tr th .select2-container, .money_matter_table thead tr th .select2-container, .business_manager_status thead tr th .select2-container, .senior_manager_status thead tr th .select2-container, .plan_activity_table thead tr th .select2-container, .plan_activity_table_bm thead tr th .select2-container, .book_activity_table  thead tr th .select2-container  { width:100%; max-width: 144px; }
.business_manager_status thead tr th .select2-container .select2-arrow, .bcc_status thead tr th .select2-container .select2-arrow, .money_matter_table  thead tr th .select2-container .select2-arrow, .senior_manager_status thead tr th .select2-container .select2-arrow, .plan_activity_table thead tr th .select2-container .select2-arrow, .plan_activity_table_bm thead tr th .select2-container .select2-arrow, .book_activity_table thead tr th .select2-container .select2-arrow  { padding-top: 4px; }
.select2-drop .select2-results .select2-highlighted { background: #aeaeae;  }
.select2-drop .select2-results { color:#666; }
.select2-drop .select2-results li { padding:2px 0px; border-bottom:1px solid #ececec; }
.select2-drop .select2-results li:last-child { border-bottom:0px; }
.select2-drop { background:#FAFAFA !important; }
.select2-search input { color:#666; }
.notification_bell_wrap { position:relative; margin-right:22px; float:right;} 
#notification_count { position:absolute; width:17px; height:17px; border-radius:100%; line-height:17px; background:#E70026;
text-align:center; color:#fff; font-size:10px; font-weight:bold; top:20px; right:-2px; }
.card-box #datatable_length { float: left; margin: 0px; }
.card-box #datatable_filter { float: right; margin: 0px; }
.card-box #datatable_length label, .card-box #datatable_filter label { margin-bottom:0px; }
.card-box .custom_search_wrap { float:left; width:100%; text-align: right; margin-bottom:10px;padding: 7px;
    padding-right: 20px;}
.card-box .custom_search_wrap .advanced_search_link { cursor:pointer; font-size:13px; color:#009bd5; }