/*/*/*
File: Responsive
*/
@media (max-width: 1366px) {
  .page-title{font-size: 17px;}
  .form-control { font-size: 13px; }
  .header-title { font-size: 14px; }
  
}
@media(max-width:1280px){
  #calledTable td a.btn{
    display: block;
  }
}
@media only screen and (max-width: 6000px) and (min-width: 700px) {
  .wrapper.right-bar-enabled .right-bar {
    right: 0;
    z-index: 99;
  }
}
@media (max-width: 1024px) {
  /*.desktopSortByFilter{display: none;}*/
  .sortDashboard{width: 100%;}
  .side-menu{top: 75px;}
  .dashboard-side-menu {top: 70px;}
  .senior_manager_table tbody tr td .btn{margin-bottom: 8px!important;padding:3px 14px;}
  .m-b-30 {margin-bottom: 10px !important;}
  .speaker-info{display: none;}
}
@media (max-width: 1023px) {

}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden; /*change for ipad*/
  }
}
@media (max-width: 768px) {
img.logo.desktopLogo {
    height: 40px !important;
    margin-top: 12px;
}
  /*.navbar-nav.logOutDiv::before{
    border-left: 2px solid #c6c8df !important;
    left: -15px;
  }*/
  .hmenuicon.navbar-toggle{
    display: block;
  }
  .dropdown.pull-right.btnGrop {
    margin-bottom: 10px;
}
  a#ExpandMenu{
    display: none;
  }
  ul.nav.navbar-nav.navbar-right.logOutDiv {
    display: inline-block;
    float: right;
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    line-height: 0;
    margin: 0;
    border: none;
    border-left: 0;
}
ul.nav.navbar-nav.navbar-right.logOutDiv:before{
  border-left: none;
}


.fixed{
  position: fixed;
  right: 0;
  left: 0;
}
  #fixBack{
    width: 100%;
    height: 100%;
    position:fixed;
    background-color:rgba(0, 0, 0, 0.6);
    left: 0;
    right:0;
    top:70px;
    bottom:0;
    z-index: 2;
  }
  /*#wrapper{
    overflow: auto;
  }*/
  .side-menu #sidebar-menu > ul > li > a{
    width: 199px;
  }
  .dashboard-side-menu {
    top: 80px;
}
  /*.side-menu {
    position: absolute !important;
  }*/
  .enlarged .left.side-menu {
    /*margin-left: 0px;*/
    left: -300px;
  }
  .topbar-left {
    width: 70px !important;
  }
  .topbar-left span {
    display: none !important;
  }
  .topbar-left i {
    display: block !important;
    line-height: 75px !important;
  }
  .content-page .content {
    margin-top: 90px;
  }
  .padmobile .header-title.business_manager_header_title {
    display: inline-block;
    margin-top: 0px;
  }
  .content-page .dashboard-content{
    margin-top: 150px; 
  }
  .topbar .topbar-left {
    height: 75px;
  }
  .navbar-default {
    background-color: #ffffff;
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  }
  .notification-box ul li a,
  .page-title {
    color: #435966;
  }
  .navbar-navold {
       margin: 13px -50px 0px 5px;
       display: inline-block;
  }
  .navbar-navold li {
    display: inline-block;
    line-height: 1px;
    float: left;
  }
  .navbar-navold.navbar-right {
    float: right;
  }
  .content-page {
    margin-left: 0px !important;
  }
  .footer {
    left: 0px !important;
  }
  .mobile-sidebar {
    left: 0px;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .wrapper-page {
    width: 90%;
  }
  .dataTables_wrapper .col-xs-6 {
    width: 100%;
    text-align: left;
  }
  div#datatable-buttons_info {
    float: none;
  }
  .ms-container {
    width: 100%;
  }
  .table-responsive {
    border: 1px solid rgba(238, 238, 238, 0.2);
    overflow-x: auto;
  }
  
  /* Search */
  .app-search a {
    top: 9px;
    right: 20px;
    color: rgba(152, 166, 173, 0.7);
  }
  .app-search a:hover {
    color: #98a6ad;
  }
  .app-search .form-control,
  .app-search .form-control:focus {
    border: 1px solid rgba(152, 166, 173, 0.15);
    font-size: 13px;
    height: 34px;
    color: #435966;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 40px;
    margin-top: 18px;
    margin-left: 20px;
    background: rgba(152, 166, 173, 0.1);
    box-shadow: none;
    border-radius: 30px;
    width: 190px;
  }
  input.app-search-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
  }
  input.app-search-input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  input.app-search-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  input.app-search-input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  .desktopLogo{
    display: block; 
    /*padding: 0 0 0 81px;*/
  }
  .ipadLogo{display: block;}
  .ipadLogo img{width: 60px;}

  .breadcrumbs ul{display: none;}

  .navbar-navold.logOutDiv::before {
    content: " ";
    border-left: none;
    padding-top: 75px;
    position: absolute;
}
/*.topbar .navbar-default { height: 96px; }*/


  
}
@media (max-width: 480px) {
  .side-menu {
    z-index: 10 !important;
  }
  
  .search-bar {
    display: none !important;
  }
}
@media (max-width: 420px) {
  .hide-phone {
    display: none !important;
  }
}
/* Container-alt */
@media (min-width: 768px) {


 .dataTables_filter label i {
    position: absolute;
    top: 32%;
    left: 3%;
}
.card-box.box-shadow, .box-shadow {
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    float: left;
    width: 100%;
}
  .container-alt {
    width: 750px;
  }
  .nav-tabs.nav-justified > li > a {
    border-bottom: 2px solid #eeeeee;
  }
  #wrapper.enlarged .left.side-menu{
      width: 250px;
  }
}
@media (min-width: 992px) {
  .container-alt {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-alt {
    width: 1170px;
  }
}
@media (max-width: 419px) {
  .topbar-left {
    width: 70px !important;
  }
  .logo .icon-c-logo {
    display: inline-block !important;
    line-height: 58px !important;
  }
  .logo span {
    display: none !important;
  }
  .wrapper-page .logo span {
    display: inline-block !important;
  }
  .content-page {
    margin-left: 70px;
  }
  .forced .side-menu.left {
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  }
  .enlarged .side-menu.left {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  }
  .page-title {
    font-size: 15px;
    line-height: 67px;
    max-width: 250px;
    white-space: nowrap;
  }
  .navbar-default {
    padding: 0px;
  }
  .navbar-default .navbar-left {
    padding-left: 0px !important;
  }
  .navbar-default .navbar-left li {
    padding: 0px 5px;
  }
 
  .editable-responsive {
    overflow-x: auto;
  }
  #message #message-nano-wrapper {
    top: 150px;
  }
  #message .header .page-title {
    color: #98a6ad;
  }
  #message .header {
    border-bottom: none;
  }
  .profile-info-name img {
    float: none;
    margin: 0px auto;
    margin-bottom: 20px;
  }
  div.hopscotch-bubble .hopscotch-bubble-container {
    max-width: 180px;
  }
  .card-box #datatable_filter { float: left; margin-top: 15px; }
}
@media (max-width:1400px) {

  .actiity-planning-card-box { min-height:404px; }

  .activity_planning_pie_chart { padding-top:37px; }

  .amountSpend-amnt{ font-size: 3em; line-height: 50px; }

}
@media (max-width: 767px) {
  .side-menu #sidebar-menu > ul > li > a{
    width: 199px;
  }
  .navbar-nav>li{
    float: left;
  }
  .form-control{
    margin-bottom: 10px;
  }
  .profile-log .ams-header-logout-link{
    right: 0
  }
  .profile-log>li {
    line-height: 20px;
    margin-bottom: 10px;
}
  ul.dropdown-menu.profile-log.navbar-right{
    position: absolute !important;
    background-color: #fff;
  }
.navbar-nav>li>a {
    padding-bottom: 0 !important;
    padding-top: 1px !important;
}
  .navbar.navbar-default.navbar-fixed-top.ams-navbar-dashboard{
    padding:0 10px;
  }
   /*.topbar .ams-dashboard-topbar-left { display:block; position:absolute; background:transparent; top:0px; left:88px; top: -7px;}
   .topbar .ams-dashboard-topbar-left img { width:81px; }
   .navbar.navbar-default { padding:0px; }*/
 .navbar-navold .open .dropdown-menu {
    position:none !important;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
   .actiity-planning-card-box .legend {  position: absolute; top:106%; left:10px; }
   .actiity-planning-card-box .legend div { left:0px !important; top:0px !important; }
   .actiity-planning-card-box .legend table  { left:0px !important; width:200px !important; }
   .plan_activity_button { float:left; margin: 9px 0px; }
   .actiity-planning-card-box { min-height: 460px; }
   .card-box { padding: 20px 15px;}
   div.dataTables_length, div.dataTables_filter { text-align: left !important; }
   table.senior_manager_table { min-width: 806px; }
   .dataTables_info { width:auto; float: left; margin-right: 15px; }
   .header-title span{ width:100%; float: left; margin-bottom:8px; }
   .header-title button { float: left; margin-bottom: 13px !important; }
   div.dataTables_length label { margin-bottom: 10px; }
   table.senior_manager_table { min-width: 851px;}
   .dashboard-button-menu-mobile { line-height:61px; }
    .apcb2 { padding-bottom: 117px; }
    .activity_planning_pie_chart { padding-top:0px; }
    .ams-dashboadr-nav li:first-child { width:100%; }
    .ams-dashboadr-nav li .page-title { line-height:19px; }
    .ams-dashboadr-nav li:nth-child(2) { float:left; margin-top:13px; margin-bottom: 12px;}
    .ams-dashboadr-nav li:nth-child(3) { float: right; margin-top:13px; }
    .ams-dashboadr-nav li:nth-child(3) a { padding:0px; }
    .ams-dashboadr-nav li:nth-child(3) a .zmdi  { margin-top: 0px; }
    /*.content-page .content { margin-top:114px; } */
    .header-title button { margin-bottom:12px !important; } 
    div.dataTables_length label { margin-bottom:12px; }
    .amountSpend1 .amountSpend-amnt, .amountSpend .amountSpend-amnt { font-size: 2.5em; }
    .amountSpend1 .amountSpend-rupee, .amountSpend .amountSpend-rupee { margin-top:3px; font-size:1.5em; }
    .amountSpend-total { font-size:1.2em; }
    .calender_adjacent_card_box { min-height:auto; }
    .fc-view { margin-top:12px; }
   
    /*.ams-navbar-dashboard li:first-child { width:100%; }*/
    .navbar-navold {
      /* margin: 14px -20px 0px 5px; */
    display: inline-block;
    position: absolute;
    left: 417px;
    right: 0;
}
 


     .bedcrumb_header{position: relative;}
     .ams-navbar-dashboard li:nth-child(2) {width:auto; float: left; margin-right: 0px;}
     .ams-navbar-dashboard li:nth-child(2) .page-title {line-height:17px;  white-space: normal; margin-top:7px; margin-bottom: 8px;
height: 34px; height: 35px; }
     .ams-header-logout-link { float:right; margin-top: 30px; }
     .amountSpend { position:relative !important; top:0px !important; }
     .amountSpend-total { font-size: 1.4em !important; }
     .amountSpend { position: relative; }
     .activity-report-header-title .btn { float: right; margin-top: 0px; }
     .ams-header-logout-link , .notification_bell_wrap {float: right; margin-top: 0; position: absolute; right: 10px; width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;}
    .topbar .navbar .nav .profile-log .ams-header-logout-link .zmdi {
    font-size: 23px;
    margin-top: -9px;
    margin-right: 2px;
    line-height: 1;
  }
     .notification_bell_wrap { right:21px; }
     .ams-header-logout-link .zmdi , .notification_bell_wrap .zmdi { font-size:17px; }
     .bcc_status  thead tr th:nth-child(4) , .money_matter_table  thead tr th:nth-child(4) , .business_manager_status  thead tr th:nth-child(6) , .senior_manager_status  thead tr th:nth-child(5) , .plan_activity_table  thead tr th:nth-child(7) , .plan_activity_table_bm thead tr th:nth-child(8) , .book_activity_table thead tr th:nth-child(9) { width:45px !important; padding-right:90px; position: relative;}
     .bcc_status thead tr th .select2-container,  .money_matter_table thead tr t
h .select2-container, .business_manager_status thead tr th .select2-container, .senior_manager_status thead tr th .select2-container, .plan_activity_table thead tr th .select2-container, .plan_activity_table_bm  thead tr th .select2-container, .book_activity_table thead tr th .select2-container { position: absolute; right:33px; top:5px; }
     #notification_count { width:15px; height:15px; border-radius:100%; line-height:15px; font-size:9px; top:14px;  right:-1px; }
     /*.content-page .content { margin-top:113px; }*/
     /*.logOutDiv{position: absolute;top:0;right: 0;}*/
     .activity_card .text-center { text-align: left; }
     .sortDashboard li:nth-child(2) { float: none; }
     .sortByMonthDashboard { width: 100%; clear: both; }
     .sortDashboard li:first-child{ display: inline-block;vertical-align: top;width: auto; }
     .desktopLogo { display: block; }
    .ipadLogo { display: none; }
    div.dataTables_filter input { width: auto; }
    .speaker-info-row { margin-bottom: 20px; }
    #dynamic_field .col-sm-3, #dynamic_field .col-sm-1 { margin-bottom: 20px; }
    .side-menu {height: auto; padding-bottom: 10px; }
    .empty-fields-div.text-center{text-align: center;}
    .mobile-txt-center{text-align:center;}
    .card-box #datatable_length{display: none;}
    .custom-search-link{padding:0;}
    .sarch_search_link.pull-right{float: left!important;}
    .left.side-menu .slimScrollDiv{height:100%!important;}
    .sidebar-inner{height:100%!important;}
    /*.sidebar-inner.slimscrollleft{overflow:scroll!important;}*/
     /*18/1/2017*/
    #dashboardDataDiv.sortDashboard li:first-child { line-height:30px; margin-top:0px !important; }
    .navbar-default #dashboardDataDiv.sortDashboard li { padding: 0px 4px; }
    #dashboardDataDiv.sortDashboard li a { padding:4px 18px; }
    .sortByMonthDashboard_wrap { padding: 6px 0 8px; }
    .sortByMonthDashboard_wrap  form { width: 100%; float: left; }
    .sortByMonthDashboard_wrap form .form-control { height:32px;  padding:7px 9px; font-size:13px;}
    .no_pad { padding: 0px; }
    .sortByMonthDashboard_wrap .sortByMonthDashboard .sortByMonthDashboard_go_btn_wrap { margin-top:0px !important; margin-left:0px; }
    .sortByMonthDashboard_wrap .sortByMonthDashboard .sortByMonthDashboard_go_btn_wrap .btn {  font-size: 14px; height:30px; left:10px; padding:3px 9px; position:relative; }
    .sortByMonthDashboard_wrap .sortByMonthDashboard  {  padding:3px 0 7px;  float:left; }
    .dashboard-side-menu { top:75px; }
    
    .actiity-planning-card-box .activity_planning_pie_chart .flot-chart#pie-chart-container {  left:50%; margin-left:-115px; margin-top:10px; }
    .card-box { padding:10px 15px 15px; }
    .header-title { font-size: 18px;  padding-bottom: 10px; }
    .actiity-planning-card-box { min-height: 439px; }
    .calender_card_box #calendar .fc-toolbar .fc-right { display: none; }
    .calender_card_box #calendar .fc-toolbar .fc-left { width:50%; float: left; }
    .calender_card_box #calendar .fc-toolbar .fc-center { width:50%; float: right; } 
    .calender_card_box #calendar .fc-toolbar .fc-center  h2 { float: right; }
    .MM-list-Card, .BCC-report-Card { min-height: auto; }
    .actiity-planning-card-box.activity_card .widget-chart text { font-size:13px !important; }
    .footer {  padding:18px 25px 14px; }
    .business_manager_header_title { margin-bottom: 2px !important; overflow: hidden; padding-bottom: 4px; }
    .business_manager_header_title span {  margin-bottom:4px; }
    .business_manager_header_title button { margin-bottom: 9px !important; }
    .business_manager_header_title + .dataTables_wrapper  .custom_search_wrap { display: none; }
    .business_manager_header_title + .dataTables_wrapper #datatable_filter { margin-bottom: 8px; margin-top: 11px; }
    .closed_activity_custom_search_wrap { float:left; margin:0px; padding:0px; }
    .closed_Activity_datatable .custom_search_wrap { display: none; }
    .closed_Activity_datatable #datatable_filter { margin-bottom:10px; }
    .custom_search_div { padding-bottom:2px; padding-top:8px; margin-top:4px; }
    .custom_search_div .form-horizontal .control-label { margin-bottom:4px; margin-top:9px; }
    .actiity-planning-card-box .legend { left:35px; }
    ul.chart-detail-list { text-align: center; }
    ul.chart-detail-list { left:50%; margin-left:-90px; position:relative; text-align:left; width:180px; }
    ul.chart-detail-list li h5 {  margin:7px 0; }
    .form-horizontal .arf-form-group { width:100%; min-width:510px; }
    table.arf-edit-table { min-width:510px; }
    table.arf-edit-table tbody tr td:nth-child(1) { width:70px; }
    table.arf-edit-table tbody tr td:nth-child(2) { width:242px; }
    table.arf-edit-table tbody tr td .assigned_bm_field { width:115px; }
    table.arf-edit-table tbody tr td:nth-child(4), table.arf-edit-table tbody tr td:nth-child(3) { width: auto; }
    .side-bar { width: 100%; }
  }

@media (max-width: 695px) {

 .navbar-navold { margin: 13px -50px 0px -58px; }
    
 

  }

  @media (max-width: 480px) {
 .navbar-navold {
    margin: 13px -50px 0px -154px;}



h4.bmsmheader span {
    width: auto;
    float: left;
}
  }


@media (max-width: 425px) {
  
    .navbar-navold { margin: 5px -50px 0px -252px; }





.desktopLogo {
    display: block;
    /*padding: 0 0 0 64px;*/
    }

.topbar .topbar-left .logo {
    height: 48px;
    /*margin-top: 7px;*/
    margin-left: 25px;
    }

 .zmdi-settings{display: none;}
  }

  @media (max-width: 360px) {

 .navbar-navold { margin: 5px -50px 0px -260px; }
}

  @media (max-width: 320px) {

  
 .navbar-navold { margin: 13px -50px 0px -289px; }

  }

 .enlarged { display:block !important; }